body {
  text-align: center;
  font-family: Arial;
}

.footer {
   background-color: #000000;
   color: #ffffff;
}

.cc-message {
  position: relative !important;
  color: transparent !important;
}

.cc-message::after {
  content: "Nous utilisons des cookies pour analyser la fréquentation et améliorer votre expérience." !important;
  color: #ffffff !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
}


.cc-btn.cc-dismiss {
  font-size: 14px !important;
}

.cc-btn.cc-dismiss::after {
  content: "Refuser" !important;
}

.cc-btn.cc-dismiss > * {
  display: none !important;
}

.cc-btn.cc-allow {
  font-size: 14px !important;
}

.cc-btn.cc-allow::after {
  content: "Accepter les 🍪" !important;
}

.cc-btn.cc-allow > * {
  display: none !important;
}


.cc-link {
  font-size: 14px !important;
  color: #f1d600 !important;
}

.cc-link::after {
  content: "En savoir plus +" !important;
}

.cc-link > * {
  display: none !important;
}
